html, body {
    padding:0px;
    margin:0px;
    
}

#backgroundIMG{
    position: fixed;
    width:100%;
    height:100%;
}


#myCanvas {
    position: fixed;
    right:0;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

#camera {
    position: fixed;
    background-color: transparent;
    height: 100%;
    width: 50%;
}


#infoText {
    position: fixed;
    top : 10;
    left :10;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

