html, body {
    padding:0px;
    margin:0px;
    
}

#backgroundIMG{
    position: fixed;
    width:100%;
    height:100%;
}


#myCanvas {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
/*
#camera {
    position: fixed;
    background-color: transparent;
    height: 10%;
    width: 10%;
    right: 0;
}
*/


#infoText {
    position: fixed;
    top : 10;
    left :10;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

#JUMP{
    position: fixed;
    top : 150px;
    left:10;
}

#BRAKE{
    position: fixed;
    top : 250px;
    left:10;
}

