html, body {
    padding:0px;
    margin:0px;
    
    
}

#backgroundIMG{
    position: fixed;
    width:100%;
    height:100%;
}
#HOME{
    display: block;
    
}

#Settings{
    top : 70%;
    left: 40%;
    position: fixed;
}

#GAME{
    display: none;
}
#READY{
    display: none;
}
#LOADING{
    display: none;
}
#WAITING{
    display: none;
}

#TIMEOUT{
    display: none;
    z-index: 0;
}
.userList {
    float: left;
    width:100px;
    height:300px;
    border-right:1px solid black;
    padding:10px;
    overflow:scroll-y;
    color : white;
  }

  .chatMessages {
    float: left;
    color : white;
    width:300px;
    height:250px;
    overflow:scroll-y;
    padding:10px;
  }


#FILTRE{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position: fixed;
}

#CHAT{
    display: none;
    position: fixed;
    top : 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.527);
}
#COOLDOWN{
    position: fixed;
    top : 50%;
    width: 100%;
    text-align: center;
    font-size : 200 ;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(255, 238, 1);
}
#indication{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.3em solid #912bd0;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:#912bd0;
    text-align:center;
    transition: all 0.2s;
    height: 130px;
    width: 1000px;
    position: fixed;
    left:27.5%;
    top :25%;
    background-color: #1f1a31a8;
    font-size: 50px;
}

#myCanvas {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
}


.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.3em solid #435ffc;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:#435ffc;
    text-align:center;
    transition: all 0.2s;
    height: 200px;
    width: 500px;
    position: fixed;
    left:37.5%;
    top :45%;
    background-color: #1f1a31a8;
    font-size: 50px;
}
.button1:hover{
    color:#ffffff;
    background-color:#435ffc;
}

.input{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.3em solid #435ffc;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    color:#435ffc;
    text-align:center;
    transition: all 0.2s;
    height: 100px;
    width: 500px;
    position: fixed;
    left:37.5%;
    top :30%;
    background-color: #1f1a31a8;
    font-size: 50px;
}
.input:hover{
    color:#ffffff;
    background-color:#435ffc;
}


#musique{
    bottom: 0;
}

#infoText {
    position: fixed;
    top : 10;
    left :10;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

#JUMP{
    position: fixed;
    top : 400px;
    left:10;
}

#BRAKE{
    position: fixed;
    top : 250px;
    left:10;
}

#FIRE{
    position: fixed;
    top : 325px;
    left:10;
}



#pause{
    position: fixed;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);

  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }